fastapi
uvicorn[standard]
requests
google-genai
openai
APScheduler>=3.10.1
peewee==3.18.*
Jinja2
plexapi
ollama
trakt.py
aiohttp 
aiofiles
psycopg2-binary
pgvector
sqlite-vec
sentence-transformers
markdown